.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1rem;
}

.form-conten {
  border-radius: 20px;
}


.login-container {
  background-color: #61dafb;
  margin-top: 30vh;
}

body {
  background-color: #c2c2c2;
}

/*----------------NavBar/*----------------*/

nav {
  padding:0;
  margin:0;

}

.nav-container {
  background-color: white;
  margin-top:0;
  min-width: 100%;
}

.a-list ul {
  display:flex;
  flex-direction: row;
  width: 80px;
  list-style: none;
  margin: 0px;
}

.a-list li {
  padding:15px;
}

.a-list li *{
  padding:15px;
  text-decoration: none;
  color: #666666;
}

.wFast-logo {
  width:50px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
