/*----------------Fonts----------------*/

* {
  font-family: 'Open Sans', sans-serif;
}

/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*----------------Body----------------*/

html {
  height: 100vh;
  background-color: #e8e8e8;
}

#root {
  background-color: #e8e8e8;
}

/*----------------Variables----------------*/

/*---Spacing/display---*/

$box-spacing: 28px;

/*---Colors---*/

$border-pattern: #d4d4d4;

$logo-color: #004aad;

/*---Animations---*/

$animation-pattern: 0.5s;

/*/*----------------Mixins----------------*/

@mixin box-shadow {
  -webkit-box-shadow: -1px 2px 8px 3px rgba(0, 0, 0, 0.33);
  box-shadow: -1px 2px 8px 3px rgba(0, 0, 0, 0.33);
}

@mixin flex-y {
  display: flex;
  flex-direction: column;
}

@mixin flex-x {
  display: flex;
  flex-direction: row;
}

@mixin center {
  margin: auto;
}

@mixin center-x {
  margin-left: auto;
  margin-right: auto;
}

/*-------------Components-------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 14px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropdown-content {
  border-radius: 8px;
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid $border-pattern;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 36px;
  margin-left: 23px;
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
      i {
        margin-right: 10px;
      }
      padding: 10px;
      transition: 0.2s;
    }
    li:hover {
      background-color: #c7c7c7;
      cursor: pointer;
    }
  }
}

/*----------------Generalizations----------------*/

.container {
  width: 100%;
  height: 70vh;
  margin-top: 10vh;
  padding: $box-spacing;
}

.align-input-icons {
  @include flex-x();
  justify-content: space-between;
}

.fa-times:hover {
  cursor: pointer;
}

textarea {
  resize: none;
}

.subtitles {
  margin-top: 15px;
  font-weight: bolder;
}

.align-text-icons {
  @include flex-x();
  i {
    margin-top: 8px;
    margin-right: 15px;
  }
  .fa-tag {
    margin-top: 20px;
  }
}

.description {
  @include center-x();
  text-align: center;
  width: 60%;
}

.flex-x-end {
  @include flex-x();
  justify-content: flex-end;
}

.flex-y {
  @include flex-y();
}

.edit-profile {
  margin-left: 10px;
  transition: 0.2s;
}

/*----------------NavBar/*----------------*/

.nav-logo {
  height: 25px;
  margin-top: 14px;
  padding-left: 15px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-top: 0;
  min-width: 100%;
  -webkit-box-shadow: 0px 5px 13px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 5px 13px 1px rgba(0, 0, 0, 0.26);
}

.a-list {
  padding: 0;
  margin: 0;

  @include flex-x();

  ul {
    @include flex-x();
    width: 80px;
    list-style: none;
    margin: 0px;
  }
  li {
    padding: 15px;
  }
}

.a-list li * {
  padding: 15px;
  text-decoration: none;
  color: black;
}

.wFast-logo {
  width: 50px;
}

.avatar-div {
  display: flex;
  flex-direction: row;
  span {
    display: block;
    margin: 15px;
  }
  span:hover {
    cursor: pointer;
  }
}

.avatar-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 6px;
  margin-right: 15px;
}

.avatar-div:hover {
  cursor: pointer;
}

/*----------------FormFrame----------------*/

.login-container-sm {
  background-color: white;
  border: 1px solid $border-pattern;
  margin: auto;
  margin-top: 10vh;
  width: 100%;
  max-width: 450px;
  padding: $box-spacing;
}

#signIn-form {
  transition: 2s;
}

.form-y-layout {
  @include flex-y;
  input,
  button {
    margin-bottom: 23px;
    font-family: 'Open Sans', sans-serif;
  }
}

.formLogo {
  width: 100%;
  max-width: 224px;
}

.header {
  text-align: center;
  justify-content: space-around;
  padding: $box-spacing;
  p {
    margin-top: 1rem;
    color: #666666;
    font-weight: bolder;
  }
}

.form-link {
  border: none;
  font-size: 10pt;
  text-align: left;
  font-size: 10pt;
  color: #0275d8;
  text-decoration: none;
  background-color: white;
}

/*----------------Dashboard----------------*/

.dashboard-container {
  @include flex-x();
  @include center();
  width: 60%;
  margin-top: 2vh;
  padding: $box-spacing;
}

.boards-container {
  background-color: white;
  border: 1px solid $border-pattern;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: $box-spacing;

  .dashboard-sidebar {
    .sidebarContainer {
      .sidebar-list {
        padding-left: 0px;
        li {
          i {
            margin-right: 10px;
          }
          list-style-type: none;
          padding: 15px;
          margin-bottom: 10px;
          border-radius: 6px;
          transition: 0.2s;
          color: black;
          #text {
            text-decoration: none;
          }
        }
        li:hover {
          background-color: $border-pattern;
          cursor: pointer;
        }
      }
    }
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    width: 25%;
    margin: 10px;
  }

  .dashboard-body {
    .dashboard-header {
      hr {
        width: 95%;
        background-color: black;
      }
    }
    h2 {
      font-family: 'Open Sans', sans-serif;
      padding: $box-spacing;
      padding-top: 0px;
      padding-bottom: 20px;
      margin-bottom: 0px;
    }
    .boardsBody {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 28px;
      gap: 15px;
      padding-bottom: 28px;
      width: 93%;
      @include center();
    }
    .boardCard {
      .fa-plus {
        margin-top: 12px;
        color: white;
      }
      display: flex;
      flex-direction: column;
      padding-top: 15px;
      font-family: 'Open Sans', sans-serif;
      span {
        color: white;
        padding-left: 10px;
      }
      margin-right: 15px;
      background-color: #9b4ea3;
      border-radius: 6px;
      width: 29%;
      height: 80px;
      transition: 0.4s;
    }

    .boardCard:hover {
      cursor: pointer;
      background-color: #7e4085;
      transform: scale(1.05);
    }

    padding-left: 10px;
    background-color: white;
    width: 100%;
    margin: 10px;
    padding: 10px;
    height: 70vh;
  }
}

/*----------------Items----------------*/

.board-container {
  @include center-x();
}

.board-header {
  border-radius: 8px;
  @include flex-x();
  justify-content: space-around;
}

.fa-sort-down {
  color: black;
}

.board-title {
  justify-content: space-between;
  color: black;
  background-color: white;
  gap: 10px;
  transition: $animation-pattern;
  padding: 12px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 250px;
  @include flex-x();
  h3 {
    margin: 0px;
  }
}

.board-title:hover {
  cursor: pointer;
}

.item-container {
  justify-content: space-between;
  @include center-x();
  @include flex-x();
  width: 50%;
  margin-top: 3vh;
  padding: 0 1rem 1rem 1rem;

  .status-header {
    @include flex-x();
    justify-content: space-between;
    font-weight: bolder;
    width: 250px;
    max-width: 100%;
    padding: 15px;
    border-radius: 6px;
  }
}

.status {
  border-radius: 6px;
  @include flex-y();
  background-color: white;
  border: 1px solid $border-pattern;
  padding: 15px;
  .status-header {
    .fa-ellipsis-h {
      border-radius: 6px;
      padding: 10px;
      transition: $animation-pattern;
    }
    .fa-ellipsis-h:hover {
      background-color: #adadad;
      cursor: pointer;
    }
  }
  .task {
    background-color: white;
    color: black;
    padding: 15px;
    border: 1px solid white;
    border-radius: 6px;
    min-height: 50px;
    margin-top: 10px;
    transition: $animation-pattern;
  }
  .plus-item {
    .fa-plus-circle {
      margin-top: 15px;
    }
    text-align: center;
    background-color: white;
    min-height: 50px;
    border-radius: 6px;
    margin-top: 5px;
  }
  .plus-item:hover {
    cursor: pointer;
  }
}

#selected-etq {
  height: 38px;
  width: 100%;
}

.etiquetas-btn {
  margin-bottom: 14px;
}

.etiquetas {
  position: absolute;
  margin-top: 10px;
  background-color: white;
  padding: 15px;
  border: 1px solid $border-pattern;
  .row {
    margin-bottom: 10px;
  }
  .row button {
    height: 35px;
  }
}

/*-------------------Profile-------------------*/

.profile-container {
  background-color: transparent;
  border-radius: 8px;
  width: 70%;
  height: 70vh;
  margin-top: 2vh;
  padding: $box-spacing;
  img {
    display: flex;
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    @include center();
    align-self: center;
  }
  img:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  .user-frame {
    width: 100%;
    height: 350px;
    .user-highlights {
      @include center();
      width: 100%;
      max-width: 400px;
      @include flex-y();
      justify-content: space-around;
      text-align: center;
      h3 {
        margin-bottom: 15px;
        margin-top: 15px;
      }
    }
    .user-data {
      width: 100%;
      max-width: 600px;
      padding-top: 15px;
      @include center();
      .inline-fields {
        @include flex-x();
        justify-content: space-between;
        input {
          width: 46%;
        }
      }
      a {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .profile-frame {
    @include flex-x();
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    padding: $box-spacing;
    height: 40vh;
  }
}

.fa-bars {
  display: none;
}

.home-logo {
  margin-top: 10vh;
  margin-bottom: 10vh;
  img {
    @include center-x();
  }
}

/*-----------------Mobile-----------------*/

@media only screen and (max-width: 1616px) {
  .boardCard {
    width: 40% !important;
  }
}

@media only screen and (max-width: 1157px) {
  .dashboard-body,
  .dashboard-sidebar {
    box-shadow: none !important;
    width: 100% !important;
    h1 {
      padding: 0px !important;
    }
  }
  .boardsBody {
    margin: 0px !important;
    width: 100% !important;
    .boardCard {
      width: 100% !important;
      margin-right: 0px !important;
    }
  }
  .boards-container {
    background-color: transparent !important;
    display: flex !important;
    flex-direction: column !important;
    padding: 0px !important;
    border: none !important;
  }

  .dashboard-container {
    width: 90%;
  }

  .sidebar-list {
    li {
      border: 1px solid $border-pattern;
    }
  }
}

@media only screen and (max-width: 640px) {
  .user-highlights {
    margin-top: 2rem !important;
  }
  .fa-bars {
    display: block;
    margin-left: 15px;
    margin-top: 7px;
    color: rgba(63, 72, 204, 1);
  }
  .profile-container {
    width: 90% !important;
    padding: 0px;
    .profile-frame {
      padding: 0px;
      margin-bottom: 20px;
    }
  }
  html {
    background: white;
  }
  .login-container-sm {
    margin-top: 10vh;
    box-shadow: none;
  }
  .a-list {
    ul {
      display: none;
    }
    div {
    }
  }
  .avatar-div {
    display: none;
  }
}
