/*----------------Fonts----------------*/

/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*----------------Body----------------*/

html {

  height:100vh;

  background: rgb(146,150,203);
  background: radial-gradient(circle, rgba(146,150,203,1) 0%, rgba(63,72,204,1) 100%);
  
  
  
}

/*----------------Variables----------------*/

$box-spacing: 28px;

$border-pattern: #d4d4d4;

$animation-pattern: .5s;
  

/*/*----------------Mixins----------------*/

@mixin flex-y {
    display:flex;
    flex-direction: column;
}

@mixin flex-x {
    display: flex;
    flex-direction: row;
}

/*----------------NavBar/*----------------*/

  .nav-logo {
    height:25px;
    margin-top:14px;
    padding-left:15px;
  }
  
  .nav-container {
    background-color: white;
    margin-top:0;
    min-width: 100%;
    -webkit-box-shadow: 0px 5px 13px 1px rgba(0,0,0,0.26); 
  box-shadow: 0px 5px 13px 1px rgba(0,0,0,0.26);
  }
  
  .a-list{
    padding:0;
    margin:0;
  
    @include flex-x();

      ul {
        @include flex-x();
        width: 80px;
        list-style: none;
        margin: 0px;
      }
      li {
        padding:15px;
      }
  }

  .a-list li *{
    padding:15px;
    text-decoration: none;
    color: black;
  }
  
  .wFast-logo {
    width:50px;
  }
  
  /*----------------FormFrame----------------*/
  
  .login-container-sm {
    background-color: white;
    box-shadow: -1px 10px 11px 6px rgba(0,0,0,0.15);
    margin: auto;
    margin-top:20vh;
    width: 100%;
    max-width: 325px;
    padding: $box-spacing;
  }

  .form-y-layout {
      @include flex-y;
      * {
        margin-bottom: 23px;
        font-family: 'Open Sans', sans-serif;
      }
      input[type="text"], input[type="password"] {
          outline: none;
          height:30px;
          border-top:none;
          border-left:none;
          border-right:none;
          border-bottom: 1px solid $border-pattern;
          transition: $animation-pattern
      }
      input[type="text"]:focus, input[type="password"]:focus {
          border-bottom: 1px solid #003F63;
      }
      input[type="submit"] {
        height:33px;
        background-color: #0275d8 ;
        border: none;
        color: white;
        cursor: pointer;
        transition: $animation-pattern;
        font-size: 15px;
    }

    input[type="submit"]:hover {
        background-color: #3f48cc;
    }
  }

  .formLogo {
    max-height:70px;
    height:100%;
  }

  .header {
    text-align: center;
    justify-content: space-around;
    padding: $box-spacing;
  }

  .form-link {
    font-size:10pt;
    color: #0275d8;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 640px) {
    html {
      background: white;
    }
    .login-container-sm {
      margin-top: 10vh;
      box-shadow: none;
    }

  }