/*----------------Fonts----------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-family: 'Open Sans', sans-serif;
}

/*font-family: 'Open Sans', sans-serif;*/
/*----------------Body----------------*/
html {
  height: 100vh;
  background-color: #e8e8e8;
}

#root {
  background-color: #e8e8e8;
}

/*----------------Variables----------------*/
/*---Spacing/display---*/
/*---Colors---*/
/*---Animations---*/
/*/*----------------Mixins----------------*/
/*-------------Components-------------*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 14px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropdown-content {
  border-radius: 8px;
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.dropdown-content ul li {
  padding: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropdown-content ul li i {
  margin-right: 10px;
}

.dropdown-content ul li:hover {
  background-color: #c7c7c7;
  cursor: pointer;
}

/*----------------Generalizations----------------*/
.container {
  width: 100%;
  height: 70vh;
  margin-top: 10vh;
  padding: 28px;
}

.align-input-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fa-times:hover {
  cursor: pointer;
}

/*----------------NavBar/*----------------*/
.nav-logo {
  height: 25px;
  margin-top: 14px;
  padding-left: 15px;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  margin-top: 0;
  min-width: 100%;
  -webkit-box-shadow: 0px 5px 13px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 5px 13px 1px rgba(0, 0, 0, 0.26);
}

.a-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.a-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80px;
  list-style: none;
  margin: 0px;
}

.a-list li {
  padding: 15px;
}

.a-list li * {
  padding: 15px;
  text-decoration: none;
  color: black;
}

.wFast-logo {
  width: 50px;
}

.avatar-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.avatar-div span {
  display: block;
  margin: 15px;
}

.avatar-div span:hover {
  cursor: pointer;
}

.avatar-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 6px;
  margin-right: 15px;
}

.avatar-div:hover {
  cursor: pointer;
}

/*----------------FormFrame----------------*/
.login-container-sm {
  background-color: white;
  border: 1px solid #d4d4d4;
  margin: auto;
  margin-top: 10vh;
  width: 100%;
  max-width: 450px;
  padding: 28px;
}

#signIn-form {
  -webkit-transition: 2s;
  transition: 2s;
}

.form-y-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-y-layout input,
.form-y-layout button {
  margin-bottom: 23px;
  font-family: 'Open Sans', sans-serif;
}

.formLogo {
  width: 100%;
  max-width: 224px;
}

.header {
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 28px;
}

.header p {
  margin-top: 1rem;
  color: #666666;
  font-weight: bolder;
}

.form-link {
  border: none;
  font-size: 10pt;
  text-align: left;
  font-size: 10pt;
  color: #0275d8;
  text-decoration: none;
  background-color: white;
}

/*----------------Dashboard----------------*/
.dashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  width: 60%;
  margin-top: 2vh;
  padding: 28px;
}

.boards-container {
  background-color: white;
  border: 1px solid #d4d4d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 28px;
}

.boards-container .dashboard-sidebar {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  width: 25%;
  margin: 10px;
}

.boards-container .dashboard-sidebar .sidebarContainer .sidebar-list {
  padding-left: 0px;
}

.boards-container .dashboard-sidebar .sidebarContainer .sidebar-list li {
  list-style-type: none;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: black;
}

.boards-container .dashboard-sidebar .sidebarContainer .sidebar-list li i {
  margin-right: 10px;
}

.boards-container .dashboard-sidebar .sidebarContainer .sidebar-list li #text {
  text-decoration: none;
}

.boards-container .dashboard-sidebar .sidebarContainer .sidebar-list li:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.boards-container .dashboard-body {
  padding-left: 10px;
  background-color: white;
  width: 100%;
  margin: 10px;
  padding: 10px;
  height: 70vh;
}

.boards-container .dashboard-body .dashboard-header hr {
  width: 95%;
  background-color: black;
}

.boards-container .dashboard-body h2 {
  font-family: 'Open Sans', sans-serif;
  padding: 28px;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.boards-container .dashboard-body .boardsBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 28px;
  gap: 15px;
  padding-bottom: 28px;
  width: 93%;
  margin: auto;
}

.boards-container .dashboard-body .boardCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
  font-family: 'Open Sans', sans-serif;
  margin-right: 15px;
  background-color: #9b4ea3;
  border-radius: 6px;
  width: 29%;
  height: 80px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.boards-container .dashboard-body .boardCard .fa-plus {
  margin-top: 12px;
  color: white;
}

.boards-container .dashboard-body .boardCard span {
  color: white;
  padding-left: 10px;
}

.boards-container .dashboard-body .boardCard:hover {
  cursor: pointer;
  background-color: #7e4085;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*----------------Items----------------*/
.board-container {
  margin-left: auto;
  margin-right: auto;
}

.board-header {
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fa-sort-down {
  color: black;
}

.board-title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  background-color: white;
  gap: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 12px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.board-title h3 {
  margin: 0px;
}

.board-title:hover {
  cursor: pointer;
}

.item-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  margin-top: 3vh;
  padding: 0 1rem 1rem 1rem;
}

.item-container .status-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bolder;
  width: 250px;
  max-width: 100%;
  padding: 15px;
  border-radius: 6px;
}

.status {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border: 1px solid #d4d4d4;
  padding: 15px;
}

.status .status-header .fa-ellipsis-h {
  border-radius: 6px;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.status .status-header .fa-ellipsis-h:hover {
  background-color: #adadad;
  cursor: pointer;
}

.status .task {
  background-color: white;
  color: black;
  padding: 15px;
  border: 1px solid white;
  border-radius: 6px;
  min-height: 50px;
  margin-top: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.status .plus-item {
  text-align: center;
  background-color: white;
  min-height: 50px;
  border-radius: 6px;
  margin-top: 5px;
}

.status .plus-item .fa-plus-circle {
  margin-top: 15px;
}

.status .plus-item:hover {
  cursor: pointer;
}

/*-------------------Profile-------------------*/
.profile-container {
  width: 60%;
  height: 90vh;
  margin-top: 2vh;
  padding: 28px;
}

.profile-container img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin: auto;
  -ms-flex-item-align: center;
      align-self: center;
}

.profile-container img:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile-container .user-frame {
  width: 100%;
  height: 350px;
}

.profile-container .user-frame .user-highlights {
  margin: auto;
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.profile-container .user-frame .user-highlights h3 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.profile-container .user-frame .user-data {
  width: 100%;
  max-width: 600px;
  padding-top: 15px;
  margin: auto;
}

.profile-container .user-frame .user-data .inline-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-container .user-frame .user-data .inline-fields input {
  width: 46%;
}

.profile-container .user-frame .user-data a {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-container .profile-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 28px;
  height: 40vh;
}

.fa-bars {
  display: none;
}

.home-logo {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.home-logo img {
  margin-left: auto;
  margin-right: auto;
}

/*-----------------Mobile-----------------*/
@media only screen and (max-width: 1616px) {
  .boardCard {
    width: 40% !important;
  }
}

@media only screen and (max-width: 1157px) {
  .dashboard-body,
  .dashboard-sidebar {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    width: 100% !important;
  }
  .dashboard-body h1,
  .dashboard-sidebar h1 {
    padding: 0px !important;
  }
  .boardsBody {
    margin: 0px !important;
    width: 100% !important;
  }
  .boardsBody .boardCard {
    width: 100% !important;
    margin-right: 0px !important;
  }
  .boards-container {
    background-color: transparent !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 0px !important;
    border: none !important;
  }
  .dashboard-container {
    width: 90%;
  }
  .sidebar-list li {
    border: 1px solid #d4d4d4;
  }
}

@media only screen and (max-width: 640px) {
  .user-highlights {
    margin-top: 2rem !important;
  }
  .fa-bars {
    display: block;
    margin-left: 15px;
    margin-top: 7px;
    color: #3f48cc;
  }
  .profile-container {
    width: 90% !important;
    padding: 0px;
  }
  .profile-container .profile-frame {
    padding: 0px;
    margin-bottom: 20px;
  }
  html {
    background: white;
  }
  .login-container-sm {
    margin-top: 10vh;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .a-list ul {
    display: none;
  }
  .avatar-div {
    display: none;
  }
}
/*# sourceMappingURL=App.css.map */