/*----------------Fonts----------------*/

* {
  font-family: 'Open Sans', sans-serif;
}

/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*----------------Body----------------*/

html {
  height: 100vh;

  background: rgb(146, 150, 203);
  background: radial-gradient(
    circle,
    rgb(107, 112, 175) 0%,
    rgba(63, 72, 204, 1) 100%
  );
}

/*----------------Variables----------------*/

/*---Spacing/display---*/

$box-spacing: 28px;

/*---Colors---*/

$border-pattern: #d4d4d4;

/*---Animations---*/

$animation-pattern: 0.5s;

/*/*----------------Mixins----------------*/

@mixin flex-y {
  display: flex;
  flex-direction: column;
}

@mixin flex-x {
  display: flex;
  flex-direction: row;
}

@mixin center {
  margin: auto;
}

@mixin center-x {
  margin-left: auto;
  margin-right: auto;
}

/*-------------Components-------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 14px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropdown-content {
  border-radius: 8px;
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
      i {
        margin-right: 10px;
      }
      padding: 10px;
      transition: 0.2s;
    }
    li:hover {
      background-color: #c7c7c7;
      cursor: pointer;
    }
  }
}

/*----------------Generalizations----------------*/

.container {
  width: 100%;
  height: 90vh;
}

/*----------------NavBar/*----------------*/

.nav-logo {
  height: 25px;
  margin-top: 14px;
  padding-left: 15px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-top: 0;
  min-width: 100%;
  -webkit-box-shadow: 0px 5px 13px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 5px 13px 1px rgba(0, 0, 0, 0.26);
}

.a-list {
  padding: 0;
  margin: 0;

  @include flex-x();

  ul {
    @include flex-x();
    width: 80px;
    list-style: none;
    margin: 0px;
  }
  li {
    padding: 15px;
  }
}

.a-list li * {
  padding: 15px;
  text-decoration: none;
  color: black;
}

.wFast-logo {
  width: 50px;
}

.avatar-div {
  display: flex;
  flex-direction: row;
  span {
    display: block;
    margin: 15px;
  }
  span:hover {
    cursor: pointer;
  }
}

.avatar-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 6px;
  margin-right: 15px;
}

.avatar-div:hover {
  cursor: pointer;
}

/*----------------FormFrame----------------*/

.login-container-sm {
  background-color: white;
  box-shadow: -1px 10px 11px 6px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-top: 20vh;
  width: 100%;
  max-width: 325px;
  padding: $box-spacing;
}

#signIn-form {
  transition: 2s;
}

.form-y-layout {
  @include flex-y;
  * {
    margin-bottom: 23px;
    font-family: 'Open Sans', sans-serif;
  }
  input[type='text'],
  input[type='password'] {
    outline: none;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $border-pattern;
    transition: $animation-pattern;
  }
  input[type='text']:focus,
  input[type='password']:focus {
    border-bottom: 1px solid #003f63;
  }
  input[type='submit'] {
    height: 33px;
    background-color: #0275d8;
    border: none;
    color: white;
    cursor: pointer;
    transition: $animation-pattern;
    font-size: 15px;
  }

  input[type='submit']:hover {
    background-color: #3f48cc;
  }
}

.formLogo {
  width: 100%;
  max-width: 224px;
}

.header {
  text-align: center;
  justify-content: space-around;
  padding: $box-spacing;
}

.form-link {
  border: none;
  font-size: 10pt;
  text-align: left;
  font-size: 10pt;
  color: #0275d8;
  text-decoration: none;
  background-color: white;
}

/*----------------Dashboard----------------*/

.dashboard-container {
  @include flex-x();
  @include center();
  width: 60%;
  margin-top: 2vh;
  padding: $box-spacing;
}

.boards-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .dashboard-sidebar,
  .dashboard-body {
    border-radius: 6px;
  }

  .dashboard-sidebar {
    .sidebarContainer {
      .sidebar-list {
        padding-left: 0px;
        li {
          i {
            margin-right: 10px;
          }
          list-style-type: none;
          padding: 15px;
          margin-bottom: 10px;
          border-radius: 6px;
          transition: 0.2s;
        }
        li:hover {
          background-color: $border-pattern;
          cursor: pointer;
        }
      }
    }
    -webkit-box-shadow: 0px 2px 32px 10px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 2px 32px 10px rgba(0, 0, 0, 0.29);
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    width: 25%;
    margin: 10px;
    padding: 10px;
  }

  .dashboard-body {
    .dashboard-header {
      hr {
        width: 95%;
        background-color: black;
      }
    }
    h1 {
      margin-bottom: 0px;
      font-family: 'Open Sans', sans-serif;
      padding: $box-spacing;
      margin-top: 0px;
    }
    .boardsBody {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 28px;
      gap: 15px;
      padding-bottom: 28px;
      width: 93%;
      @include center();
    }
    .boardCard {
      .fa-plus {
        margin-top: 12px;
        color: white;
      }
      display: flex;
      flex-direction: column;
      padding-top: 15px;
      font-family: 'Open Sans', sans-serif;
      span {
        color: white;
        padding-left: 10px;
      }
      margin-right: 15px;
      background-color: #9b4ea3;
      border-radius: 6px;
      width: 29%;
      height: 80px;
      transition: 0.4s;
    }

    .boardCard:hover {
      cursor: pointer;
      background-color: #7e4085;
    }

    padding-left: 10px;
    -webkit-box-shadow: 0px 2px 32px 10px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 2px 32px 10px rgba(0, 0, 0, 0.29);
    background-color: white;
    width: 60%;
    margin: 10px;
    padding: 10px;
    height: 70vh;
  }
}

/*----------------Items----------------*/

.board-container {
  @include center-x();
}

.board-header {
  border-radius: 8px;
  @include flex-x();
  justify-content: space-around;
}

.fa-sort-down {
  color: black;
}

.board-title {
  justify-content: space-between;
  color: black;
  background-color: white;
  gap: 10px;
  transition: $animation-pattern;
  padding: 12px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 250px;
  @include flex-x();
  h3 {
    margin: 0px;
  }
}

.board-title:hover {
  cursor: pointer;
}

.item-container {
  justify-content: space-between;
  @include center-x();
  @include flex-x();
  width: 50%;
  margin-top: 3vh;
  padding: 0 1rem 1rem 1rem;

  .status-header {
    @include flex-x();
    justify-content: space-between;
    font-weight: bolder;
    width: 250px;
    max-width: 100%;
    padding: 15px;
    border-radius: 6px;
  }
}

.status {
  border-radius: 6px;
  @include flex-y();
  background-color: lightgrey;
  .status-header {
    .fa-ellipsis-h {
      border-radius: 6px;
      padding: 10px;
      transition: $animation-pattern;
    }
    .fa-ellipsis-h:hover {
      background-color: #adadad;
      cursor: pointer;
    }
  }
  .task {
    background-color: white;
    color: black;
    padding: 15px;
    border: 1px solid white;
    border-radius: 6px;
    min-height: 50px;
    margin-top: 10px;
  }
  .plus-item {
    .fa-plus-circle {
      margin-top: 15px;
    }
    text-align: center;
    background-color: white;
    min-height: 50px;
    border-radius: 6px;
    margin-top: 5px;
  }
  .plus-item:hover {
    cursor: pointer;
  }
}

/*-------------------Profile-------------------*/

.profile-container {
  @include flex-y();
  @include center();
  width: 60%;
  height: 90vh;
  margin-top: 2vh;
  padding: $box-spacing;
  img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
  }
  .pic-frame {
    @include center-x();
    width: 100%;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: white;
  }
}

/*-----------------Mobile-----------------*/

@media only screen and (max-width: 640px) {
  html {
    background: white;
  }
  .login-container-sm {
    margin-top: 10vh;
    box-shadow: none;
  }
}
